language: ruby
cache: bundler
sudo: false
services:
  - mysql
rvm:
  - 2.2.4
  - 2.3.0
  - ruby-head
gemfile:
  - gemfiles/rails_4_1.gemfile
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_5_0.gemfile
before_install: gem install bundler -v 1.11.2
before_script:
  - cp spec/database.yml.travis spec/database.yml
  - mysql -e 'create database shibaraku_test;'
script:
  - bundle exec rspec
matrix:
  allow_failures:
  # NOTE: There are unstable versions
  - rvm: ruby-head
  - gemfile: gemfiles/rails_5_0.gemfile
